[submodule "bimg"]
	path = bimg
	url = git@github.com:KlydoClock/bimg.git
[submodule "bx"]
	path = bx
	url = git@github.com:KlydoClock/bx.git
[submodule "bgfx"]
	path = bgfx
	url = git@github.com:KlydoClock/bgfx.git
