[submodule "bgfx"]
	path = bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "bimg"]
	path = bimg
	url = git@github.com:KlydoClock/bimg.git
[submodule "bx"]
	path = bx
	url = git@github.com:KlydoClock/bx.git
